@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.btn{
   padding: 12px 40px 12px 16px;
   tab-size: 16px;
   font-weight: 600;
   color: #FFFFFF;
background: linear-gradient(90deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
border-radius: 30px;
cursor: pointer;
background-size: 300%;
animation: move 5s ease-in-out infinite;
}
@keyframes move{
    0%{background-position: 0% 50%;}
    100%{background-position: 100% 50%;}
}

.btn:hover{
    animation: none;
}

.hero{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

footer{
    background-image: url(./assets/footer-bg.png);
    background-position: center;
}